.products .item-content {
    padding-left: 0 !important;
}
.products .list-block li.media-item .item-link .item-inner, .list-block.media-list .item-link .item-inner{
    padding-right: 0 !important;
}
.products .list-block .item-media+.item-inner{
    margin-left: 8px!important;
}
/* .notifications{
    bottom: 48px;
} */
/* .page {
    padding-bottom: 70px;
} */